<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<!-- confirm page -->
<main>
    
    <div class="header">
        <h1>Je hebt <%- club %> geselecteerd</h1>
    </div>

    <div class="notifications">
        <h2>Wilt u meldingen ontvangen wanneer <%-club%> heeft gescoord?</h2>

        <form method="post" action="">
            <button type="submit">Ja</button>
        </form>

        <form method="post" action="">
            <button type="submit">Nee</button>
        </form>

    </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>