<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <!-- confirm page -->
    <div class="header">
        <h1>Je hebt <%- club %> geselecteerd</h1>
    </div>

    <noscript>
        <p> Helaas heb je javascript uitstaan, daarom kunt u geen meldingen ontvangen.</p>
    </noscript>

    <div class="notifications">
        <h2>Wilt u meldingen ontvangen wanneer <%-club%> heeft gescoord?</h2>

        <form method="post" action="">
            <button type="submit">Ja</button>
        </form>

        <form method="post" action="">
            <button type="submit">Nee</button>
        </form>

    </div>

    <script src="client.js"></script>
</body>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>