<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<!-- confirm page -->
<main>
    
    <div class="header">
        <h1>Je hebt</h1>
        <h1 class=team><%- club %></h1>
        <h1>Geselecteerd</h1>
    </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>