<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <!-- home page -->
    <div class="header">
        <h4>Krijg een melding zodra jouw favoriete team heeft gescoord!</h4>

        <h1>Selecteer Team:</h1>

        <select>
            <option value="ajax">Ajax</option>
            <option value="nac">NAC</option>
            <option value="groningen">Groningen</option>
            <option value="feyenoord">Feyenoord</option>
        </select>

        <form action="/confirm" method="post">
            <button type="button" id="continue" href="/confirm">Doorgaan</button>
        </form>

        <!-- <a href="https://wa.me/31646813155?text=Dit%20is%20een%20WhatsAppje!">Whatsapp me</a> -->

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>