* {
    font-family: 'Inconsolata', monospace, 'Sans-Serif';
}

body {
    background-color: white;
}

.header {
    color: black;
    text-align: center;
    margin: auto;
}

.team {
    color: #2dc795;
}

.title {
    color: black;
    text-align: center;
    margin: 20px;
}

.number {
    text-align: center;
    margin: auto;
}

.form {
    text-align: center;
    margin: 1em;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.score {
    text-align: center;
}

.notifications {
    margin: 1em;
    margin-top: 3em;
    text-align: center;
    justify-content: center;
    height: 100px;
    width: auto;
}