<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Browser Technologies</title>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

<!-- Viewport tag -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Styling -->
<link rel="stylesheet" href="/css/styles.css">

<!-- Remove favoico.ico error -->
<link rel="shortcut icon" href="#"/>

