*, *:before, *:after {
    font-family: 'Inconsolata', monospace, 'Sans-Serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: white;
}

.header {
    color: black;
    text-align: center;
    margin: auto;
}

.team {
    color: #2dc795;
}

.title {
    color: black;
    text-align: center;
    margin: 20px;
}

.number {
    text-align: center;
    margin: auto;
}

.form {
    text-align: center;
    margin: 1em;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.score {
    text-align: center;
}

.notifications {
    display: none;
    margin: 1em;
    text-align: center;
    border-style: solid;
    border: black 1px;
}

.runningworker {
    display: none;
    margin: 1em;
    text-align: center;
    border-style: solid;
    border: black 1px;  
}

.refresh {
    margin: 1em;
    text-align: center;
    border-style: solid;
    border: black 1px;
}

.mail {
    margin: 1em;
    text-align: center;
    border-style: solid;
    border: black 1px;
}